<%- include('includes/head.ejs') %>
<html>
    <head>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/product.css">
        <title> <%= pageTitle %></title>
    </head>
    <body>
        <header class="main-header">
            <nav class="main-header-nav">
                <ul class="main-header-item-list">
                    <li class="main-header-ietm"><a class="active" href="/">shop</a>
                        <li class="main-header-ietm"><a  href="/admin/add-product">Add product</a>
                    </ul>
                    </nav>
                    </header>
    </body>
    </html>